.dark-mode {
  background-color: #222;
  color: #fff;
}

.dark-mode select {
  background-color: #333;
  color: #fff;
  border: 1px solid #444;
}

.dark-mode .user-profile.card {
  background-color: #333;
  color: #fff;
}

.dark-mode .user-picture.card-img-top {
  background-color: #444;
  height: 160px;
}
